{% extends 'base.html.twig' %}
{% form_theme formTrick with 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1> {{ title }} </h1>
    {{ form_start(formTrick)}}
    <form action="" method="post">
        {{ form_row(formTrick.trickName, {'attr': {'placeholder': 'Renseignez le nom du trick'}})}}
        {{ form_row(formTrick.trickDescription, {'attr': {'placeholder': 'Renseignez la description du trick'}})}}

            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
    {{ form_end(formTrick)}}
{% endblock %}