{% extends 'base.html.twig' %}
{% form_theme formTrick with 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Créer un nouveau trick
{% endblock %}

{% block body %}

    <h1> Créer un nouveau trick </h1>

    {{ form_start(formTrick) }}
        {{ form_row(formTrick.trickName, {'attr': {'placeholder': 'Renseignez le nom du trick'}})}}
        
        {{ form_row(formTrick.trickDescription, {'attr': {'placeholder': 'Renseignez la description du trick'}})}}
        
        {{ form_row(formTrick.trickGroup)}}

        <button type="button" class="btn btn-link btn-new" data-collection="#trickImages">Ajouter une image <i class="fas fa-plus-circle fa-2x"></i></button>
        <div 
            id="trickImages" 
            class="row" 
            data-prototype="{{ include("tricks/trickImage_form.html.twig", {formTrick : formTrick.trickImages.vars.prototype})|e("html_attr") }}" 
            data-index="{{ formTrick.trickVideos | length > 0 ? formTrick.trickImages|last.vars.name + 1 : 0 }}">
                {% for trickImage in formTrick.trickImages %}
                    {{ include("/tricks/trickImage_form.html.twig", {formTrick: "trickImage"})}}
                {% endfor %}
        </div>


        <button type="button" class="btn btn-link btn-new" data-collection="#trickVideos">Ajouter une vidéo <i class="fas fa-plus-circle fa-2x"></i></button>
        <div 
            id="trickVideos" 
            class="row" 
            data-prototype="{{ include("tricks/trickVideo_form.html.twig", {formTrick : formTrick.trickVideos.vars.prototype})|e("html_attr") }}" 
            data-index="{{ formTrick.trickVideos | length > 0 ? formTrick.trickVideos|last.vars.name + 1 : 0 }}">
                {% for trickVideo in formTrick.trickVideos %}
                    {{ include("/tricks/trickVideo_form.html.twig", {formTrick: "trickVideo"})}}
                {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary m-3">Créer</button>

    {{ form_end(formTrick, { render_rest : false })}}
{% endblock %}