{% extends 'base.html.twig' %}
{% form_theme formTrick with 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if editMode %}
    Modifier le trick
    {% else %}
    Créer un nouveau trick
    {% endif %}
{% endblock %}

{% block body %}
    {% if editMode %}
    <h1> Modifier le trick </h1>
    {% else %}
    <h1> Créer un nouveau trick </h1>
    {% endif %}

    {{ form_start(formTrick, {'attr' : {'class' :''}}) }}
        {{ form_row(formTrick.trickName, {'attr': {'placeholder': 'Renseignez le nom du trick'}})}}
        
        {{ form_row(formTrick.trickDescription, {'attr': {'placeholder': 'Renseignez la description du trick'}})}}
        {{ form_row(formTrick.trickGroup)}}
        {{ form_row(formTrick.trickImage) }}
        {% for image in formTrick.trickImage %}
                <div>
                    <img src="{{ asset('/uploads/' ~ image.mediaName ) }}" alt ="" width="150">
                    <a href= {{ path('delete_trickImage', {'id' : image.id }) }}></a>
                </div>
            {% endfor %}
        {% if editMode %}
            <button type="submit" class="btn btn-primary m-3">Enregister les modifications</button>
        {% else %}
            <button type="submit" class="btn btn-primary m-3">Créer</button>
        {% endif %}
    {{ form_end(formTrick)}}
{% endblock %}