{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if app.user %}
    <a class="btn btn-primary" href="{{ path('create_trick') }}"> Créer un nouveau Trick </a>
    {% endif %}
    <div class="row">
        {% for trick in trickList %}
            <div class="col-lg-3 col-xs-12">
                <div class="card-body">
                    <img class="card-img-top" src="https://tse2.mm.bing.net/th?id=OIP.Dxw8muUlY2lD2l-XxnSc9QHaEo&pid=Api"/>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="{{ path('trick_details',{'id': trick.id}) }}" >{{ trick.trickName }}</a>
                        {% if is_granted('TRICK_MANAGE', trick) %}
                        <div class="d-flex">
                            <a href="{{ path('edit_trick',{'id': trick.id}) }}" class="btn btn-link"><i class="fas fa-edit"></i></a>
                            <form method="post" action="{{ path('delete_trick', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                <button class="btn btn-link"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}