{% extends 'base.html.twig' %}

{% block title %}{{ trick.trickName }}{% endblock %}

{% block body %}
    <h1> {{ trick.trickName }} </h1>
    <p>{{ trick.trickDescription }}</p>
    <div>
        <span class="badge bg-primary">Auteur : {{trick.user.username }}</span>
        <span class="badge bg-warning">Créé le : {{ trick.createdAt | date('d/m/Y') }}</span>
        <span class="badge bg-success">Modifié le : {{ trick.modifiedAt | date('d/m/Y') }}</span>
        <span class="badge bg-danger"> {{trick.trickGroup.groupName | default('Undefined')}} </span>
    </div>
    <div class="container">
        {% if app.user %}
        {{ form_start(formComment) }}
            {{ form_row(formComment.commentContent, { 'label' : 'Votre commentaire', 'attr' : {'placeholder' : 'Laissez votre commentaire'}}) }}
            <button type="submit" class="btn btn-warning">Envoyer</button>
        {{ form_end(formComment) }}
        {% endif %}
        {% for comment in comments%}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-1">
                    <img  class="card-img" style="max-width: 50px;" src="{{ asset('uploads/'. {{comment.user.profilePicture}} ) }}" alt="image profile de {{comment.user.username}}"/>
                </div>
                <div class="col-md-11">
                    <div class="card-body">
                        <h5 class="card-title"><p class="text-secondary">{{ comment.user.username }}</p></h5>
                        <p class="card-text"><small class="text-muted"><p class="text-secondary">Ecrit le : {{ comment.commentDate | date('d/m/Y')}}</p></small></p>
                        <p class="card-text">{{ comment.commentContent }}</p>
                        <form method="post" action="{{ path('delete_comment', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                            <button class="btn"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
{% endblock %}