{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container">

    {# Display "create new trick" option only if registered user #}
    {% if app.user %}
    <div class="d-grid gap-2">
        <button class="btn btn-outline-primary m-3" href="{{ path('create_trick') }}"> Créer un nouveau Trick </button>
    </div>
    {% endif %}

    <div class="row">
        {% for trick in trickList %}
            <div class="col-lg-3 col-xs-12">
                <div class="card">
                    <div class="trick card-body rounded">
                        {% if trick.trickImages | first %}
                            <img class="card-img-top" src="{{ asset('/uploads/' ~  trick.trickImages | first .mediaName ) }}" />
                        {% else %}
                            <img class="card-img-top" src="https://tse2.mm.bing.net/th?id=OIP.Dxw8muUlY2lD2l-XxnSc9QHaEo&pid=Api"/>
                        {% endif %}
                        <div class="card-text d-flex justify-content-between align-items-center p-2">
                            <a href="{{ path('trick_details',{'slug': trick.slug}) }}" class="btn btn-outline-primary display-5">{{ trick.trickName }}</a>
                            {% if is_granted('TRICK_MANAGE', trick) or is_granted('ROLE_ADMIN')%}
                            <div class="d-flex">
                                <a href="{{ path('edit_trick',{'id': trick.id}) }}" class="btn btn-link"><i class="fas fa-edit"></i></a>
                                <form method="post" action="{{ path('delete_trick', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                    <button class="btn btn-link"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}