{% extends 'base.html.twig' %}
{% form_theme formTrick with 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if editMode %}
    Modifier le trick
    {% else %}
    Créer un nouveau trick
    {% endif %}
{% endblock %}

{% block body %}
    {% if editMode %}
    <h1> Modifier le trick </h1>
    {% else %}
    <h1> Créer un nouveau trick </h1>
    {% endif %}
    {{ form_start(formTrick) }}
        {#{{ form_widget(formTrick._token) }}#}
        {{ form_row(formTrick.trickName, {'attr': {'placeholder': 'Renseignez le nom du trick'}})}}
        {{ form_row(formTrick.trickDescription, {'attr': {'placeholder': 'Renseignez la description du trick'}})}}
        {{ form_row(formTrick.trickGroup)}}
        {{ form_errors(formTrick.trickVideos)}}
        <button type="button" class="btn btn-link btn-new" data-collection="#trickVideos">Ajouter une vidéo <i class="fas fa-plus-circle fa-2x"></i></button>
        <div 
            id="trickVideos" 
            class="row" 
            data-prototype="{{ include("tricks/trickVideo_form.html.twig", {formTrick : formTrick.trickVideos.vars.prototype})|e("html_attr") }}" 
            data-index="{{ formTrick.trickVideos | length > 0 ? formTrick.trickVideos|last.vars.name + 1 : 0 }}">
                {% for trickVideo in formTrick.trickVideos %}
                    {{ include("/tricks/trickVideo_form.html.twig", {formTrick: "trickVideo"})}}
                {% endfor %}
        </div>
        {% if editMode %}
            <button type="submit" class="btn btn-primary m-3">Enregister les modifications</button>
        {% else %}
            <button type="submit" class="btn btn-primary m-3">Créer</button>
        {% endif %}
    {{ form_end(formTrick, { render_rest : false })}}
{% endblock %}