{% extends 'base.html.twig' %}
{% form_theme formTrick with 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if editMode %}
    Modifier le trick
    {% else %}
    Créer un nouveau trick
    {% endif %}
{% endblock %}

{% block body %}
    {% if editMode %}
    <h1> Modifier le trick </h1>
    {% else %}
    <h1> Créer un nouveau trick </h1>
    {% endif %}
    {{ form_start(formTrick) }}
        
        {{ form_row(formTrick.trickName, {'attr': {'placeholder': 'Renseignez le nom du trick'}})}}
        
        {{ form_row(formTrick.trickDescription, {'attr': {'placeholder': 'Renseignez la description du trick'}})}}
        
        {{ form_row(formTrick.trickGroup)}}


        <button type="button" class="btn btn-link btn-new" data-collection="#trickImages">Ajouter une image <i class="fas fa-plus-circle fa-2x"></i></button>
        <div 
            id="trickImages" 
            class="row" 
            data-prototype= "{{ form_widget(formTrick.trickImages.vars.prototype)|e }}"
            data-index="{{ formTrick.trickImages | length > 0 ? formTrick.trickImages|last.vars.name + 1 : 0 }}">
                {% for trickImage in formTrick.trickImages %}
                    <div class="col">
                    {% if trickImage.vars.data.mediaName %}
                        <img class="w-25" src={{ asset('/uploads/' ~ trickImage.vars.value.mediaName ) }}>
                        {#<form method="post" action="{{ path('delete_trickImage', {'id': trickImage.vars.value.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trickImage.vars.value.id) }}">
                            <button type="button" class="delete-image btn btn-link"><i class="fas fa-trash-alt"></i></button>
                        </form>#}
                        <p>Modifier l'image :</p>
                        {{ form_row(trickImage.file) }}
                    {% else %}
                        {{form_widget(trickImage) }}
                    {% endif %}
                        
                    </div>
                {% endfor %}
        </div>


        <button type="button" class="btn btn-link btn-new" data-collection="#trickVideos">Ajouter une vidéo <i class="fas fa-plus-circle fa-2x"></i></button>
        <div 
            id="trickVideos" 
            class="row" 
            data-prototype="{{ form_widget(formTrick.trickVideos.vars.prototype)|e }}" 
            data-index="{{ formTrick.trickVideos | length > 0 ? formTrick.trickVideos|last.vars.name + 1 : 0 }}">
                {% for trickVideo in formTrick.trickVideos %}
                    <div class="col">
                    {% if trickVideo.vars.data.videoUrl %}
                        <iframe 
                            class="embed-responsive-item" 
                            src="{{ trickVideo.vars.value.videoUrl }}">
                        </iframe> 
                        {#<form method="post" action="{{ path('delete_trickVideo', {'id': trickVideo.vars.value.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trickVideo.vars.value.id) }}">
                            <button type="button" class="delete-image btn btn-link"><i class="fas fa-trash-alt"></i></button>
                        </form>#}
                        <p>Modifier la video :</p>
                        {{ form_row(trickVideo.videoUrl) }}
                    {% else %}
                        {{form_widget(trickVideo) }}
                    {% endif %}
                    </div>
                {% endfor %}
        </div>

        {% if editMode %}
            <button type="submit" class="btn btn-primary m-3">Enregister les modifications</button>
        {% else %}
            <button type="submit" class="btn btn-primary m-3">Créer</button>
        {% endif %}
    {{ form_end(formTrick, { render_rest : false })}}
{% endblock %}